@media print {
    body * {
        visibility: hidden;
        overflow: visible !important;
    }

    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    .nonprint{
        display: none;
    }
  #section-to-print {
     position:absolute;
      display: block;
      page-break-before: always;
  }
  .cart-total{
      display: inline;
  }
 @page {
    -webkit-print-color-adjust: exact !important;
     margin-top: 0%;
     margin: 0%;
     size: landscape !important;
     page-break-after:always;
   
 }

}

@media all {
    .page-break {
        display: none;
    }
}